.padding {
    padding-right: 1em;
    padding-left: 1em;
}

.header {
    background-color: #297ab7;
    height: 3em;
    padding: 1em;
    color: white;
    text-align: left;
    position: fixed;
    width: 100%;
}

.hidden-header {
    height: 5em;
}

.title {
    padding: 0;
    margin: 0;
}

.full {
    min-width: 100%;
}

.left {
    align-self: flex-start;
    width: 20%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.grow {
    flex-grow: 1;
}

.center {
    text-align: center;
}


.right {
    text-align: right;
    align-self: flex-end;
    width: 20%;
}

.bold {
    font-weight: bolder;
    color: #297ab7;
}

.scroll {
    overflow-y: auto;
}

ul {
    margin: 0;
    padding: 0;
    max-height: calc(100vh - 10.75em);
}

ul > li {
    list-style: none;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: #e7e8e9 solid 1px;
    width: 100%;
}

ul > li:hover {
    background-color: beige;
}

ul > li > span {
    margin-right: 1em;
    margin-left: 1em;
}

select, input, button {
    color: black;
    background-color: white;
    border: grey solid 1px;
}

.add {
    position: fixed;
    width: 100%;
    height: 1.5em;
    left: 0;
    bottom: 3.25em;
    background-color: #e7e8e9;
    padding: 0.5em 1em;
}

.margin-left {
    margin-left: 1em;
}

.margin-right {
    margin-right: 1em;
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 3.25em;
    padding-top: 0.25em;
    background-color: #16212c;
    color: white;
}

.footer span {
    line-height: 1.5em;
    text-align: right;
    float: right;
    width: 100%;
    padding-right: 1em;
}

.num {
    width: 4em;
}